* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f6fe;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
